# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.idea/
*.iml

# VS Code
.vscode/

# Android
.android/
*.apk
*.aar

# iOS
.ios/
*.xcworkspace
*.xcconfig
Pods/
Podfile.lock
DerivedData/

# Others
*.log
*.lock
*.swp
*.DS_Store
